{
   "Core" : {
      "ModuleDirectory-x64" : "..\\..\\..\\modules\\x64",
      "ShowConsole" : true,
      "modules" : {
         "loader" : "loader\\yuzu-loader_d.dll"
      }
   },
   "UI" : {
      "EnableModuleConfiguration" : true,
      "LanguageDirectory" : "..\\..\\..\\lang",
      "RecentFiles" : [
         "D:\\Emulation\\switch\\Games\\Sonic Mania.xci",
         "D:\\Emulation\\switch\\Games\\2048.nro"
      ]
   }
}
